@use "./../general/variables" as *;
.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 8px 0 0;
}
.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 8px 7px 8px -6px #0000001a;
  .header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 106px;
    align-items: center;
    padding: 8px 8px 8px 0;

    .logo img {
      max-width: 295px;
    }
    .logo::before {
      content: "";
      height: 30px;
      width: 187.5rem;
      background: #fff;
      bottom: -1.7rem;
      left: -186.55rem;
      display: block;

      position: absolute;
      box-shadow: 8px 7px 8px -6px #0000001a;
    }
    .burger {
      display: block;
      position: relative;
      width: 35px;
      height: 30px;
      margin: 10px;
    }

    .menu {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 34%;
        background-color: #04418b;

        .list_texts {
          padding: 0 75px 28px 0;
        }

        ul {
          padding: 0;
          list-style-type: none;
        }

        .link,
        .languages {
          line-height: 28px;
          list-style: none;
          padding: 10px 8px;
          font-weight: $fw-semiBold;
          a {
            font-size: 22px;
          }
        }
        .languages {
          margin-top: 50px;
        }
        .languages a {
          font-size: 15px;
          padding: 0 12px 0 0;
        }
      }
    }
    .menu._active {
      background: #00000068;
      right: 0;
    }
  }

  .right_menu {
    position: absolute;
    top: 2.25rem;
    right: 8%;
    cursor: pointer;
    width: 35px;
    height: 30px;
    z-index: 1;
    cursor: pointer;

    span {
      border-radius: 2px;
      position: absolute;
      background-color: #fff;
      left: 0;
      width: 100%;
      height: 3px;
      top: 8.5px;
      transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
      transition-duration: 500ms;
    }
  }

  .right_menu::before {
    top: -2px;
  }
  .right_menu::after {
    bottom: -2px;
  }
  .right_menu::before,
  .right_menu::after {
    border-radius: 2px;
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transition-duration: 500ms;
  }
  .right_menu._active::before {
    transform: rotate(45deg);
    top: 13px;
  }
  .right_menu._active::after {
    transform: rotate(-45deg);
    bottom: 14px;
  }
  .right_menu._active span {
    transform: scale(0);
  }

  .burger {
    display: block;
    position: relative;
    cursor: pointer;

    span {
      border-radius: 2px;
      position: absolute;
      background-color: #04418b;
      left: 0;
      width: 100%;
      height: 4px;
      top: 13px;
      transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
      transition-duration: 500ms;
    }
  }

  .burger::before {
    top: 0px;
  }
  .burger::after {
    bottom: 0px;
  }
  .burger::before,
  .burger::after {
    border-radius: 2px;
    content: "";
    background-color: #04418b;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transition-duration: 500ms;
  }
  .burger:hover::before {
    transform: rotate(-3deg) scaleY(1.1);
  }
  .burger:hover span {
    transform: rotate(4deg) scaleY(1.1);
  }
  .burger:hover::after {
    transform: rotate(-3deg) scaleY(1.1);
  }

  .burger._active::before {
    transform: rotate(45deg);
    top: 9px;
    // visibility: hidden;
  }
  .burger._active::after {
    transform: rotate(-45deg);
    bottom: 8px;
    // visibility: hidden;
  }
  .burger._active span {
    transform: scale(0);
  }
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
